body {
    display: grid;
    top: 0;
    margin: 0 auto;
    border: 1px;
    padding: 0 5px;
    width: 1024px;
    font: 1.2em Arial, Helvetica, sans-serif;
    grid-template-areas:
        "header-cell"
        "nav-cell"
        "main-cell"
        "footer-cell";
}

main {
    grid-area: main-cell;
    display: grid;
    border: 1px solid #ccc7c8;
    border-radius: 5px;
    padding: 0 5px;
    background-image: #fff;
    max-width: 1024px;
}

main.one-col {
    grid-template-areas: "left-cell" "article-cell" "right-cell";
}

main.two-cols-right {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "left-cell article-cell";
}

main.two-cols-left {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "article-cell right-cell";
}

main.three-cols {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "left-cell article-cell right-cell";
}

article {
    grid-area: article-cell;
}

aside {
    margin: 2px;
    padding: 5px;
    color: #000;
    text-align: justify;
}

aside.left-side {
    grid-area: left-cell;
}

aside.right-cell {
    grid-area: right-cell;
}

aside.left-side,
aside.righ-side {
    margin: 2px;
    padding: 5px;
    text-align: justify;
    text-justify: inter-word;
}

header {
    grid-area: header-cell;
    margin-bottom: 2px;
    border: 1px #ccc7c8;
    border-radius: 5px;
    padding: 0 5px;
    height: 100px;

    background-image: url(/images-css/header.png);
}

#header-img1 {
    height: 100px;
    position: absolute;
    top: -30px;
    animation: img1 3s;
    animation-fill-mode: forwards;
}

@keyframes img1 {
    from {
        left: 80%;
    }

    to {
        left: 30%;
    }
}

#header-img2 {
    height: 70px;
    position: absolute;
    top: -5px;
    animation: img2 3s;
    animation-fill-mode: forwards;
}

@keyframes img2 {
    from {
        left: 80%;
    }

    to {
        left: 45%;
    }
}

#header-img3 {
    height: 80px;
    position: absolute;
    top: 0;
    animation: img3 3s;
    animation-fill-mode: forwards;
}

@keyframes img3 {
    from {
        left: 80%;
    }

    to {
        left: 63%;
    }
}

nav {
    grid-area: nav-cell;
    margin-top: 20px;
}

nav a {
    top: 0;
    margin: 3px;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 2px 4px;
    height: 20px;
    color: #ed4190;
    text-align: center;
    font-size: 17px;
    background-image: #ffffff80;
    text-decoration: none;
    box-shadow: 0 0 3px 0 #00000066, 0 0 2px 0 #0000004d;
}

nav a:hover {
    color: #fff;
    background-color: #ed4190;
}

.search-container {
    float: right;
    padding-top: 3px;
}

.icon-white,
.icon-pink {
    padding: 4px;
    min-width: 30px;
    color: #fff;
    text-align: center;
    background: #cddc39;
    cursor: pointer;
}

.icon-pink {
    color: #ed4190;
}

.round-figure {
    border-radius: 5px;
}

footer {
    grid-area: footer-cell;
    margin-top: 2px;
    border: 1px solid #ccc7c8;
    border-radius: 5px;
    color: #000;
    padding: 0 5px;
    text-align: center;
}

footer .social-icon {
    text-decoration: none;
    color: #ed4190;
}

footer .gotop {
    position: fixed;
    bottom: 5px;
    right: 10px;
    padding: 10px;
    text-align: center;
    z-index: 100;
}

h1 {
    margin: 12px 0 16px;
    text-transform: uppercase;
    color: #f90b6d;
    text-align: center;
    font-size: 28px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 34px;
}

h1::after {
    position: relative;
    left: 50%;
    display: block;
    margin: 12px 0;
    width: 200px;
    height: 3px;
    content: " ";
    transform: skewX(-12deg) translateX(-50%);
    background: radial-gradient(#cddc39, #fff);
}

h2 {
    margin: 5px 0 10px;
    color: #f90b6d;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 28px;
}

h3 {
    margin: 5px 0 10px;
    color: #f90b6d;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 24px;
}
#icon-search{
    border: none;
}