.image-right p {
    margin: 0;
    width: 69%;
    float: left;
}
.image-right img{
    width: 30%;
    float: right;
}
div{
    display: inline-block;
}
.img-dqt{
    width: 100%;
}
p{
    text-align: justify;
}
.icon-face{
    padding: 4px;
    min-width: 30px;
    color: yellow;
    text-align: center;
    cursor: pointer;
}